.flex {
    display: flex;
    height: 85vh;   
}
.flexForms {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;   
    overflow: hidden;  
   }

.blockProduct {
    width: 60%;
    height: 80vh;
    margin-top: 0.9%;
    overflow: auto;
    z-index: 5;      
}
.blockProduct::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #131313;
}
.blockProduct::-webkit-scrollbar-thumb {
    background-color:  rgba(245, 189, 67, 0.966);
    border-radius: 5px;
}
.cardProduct {
    margin-left: 8%;
    border-radius: 5px;
    margin-bottom: 1%;
    width: 85%;
    height: 18.9vh;
    background-color: rgba(248, 172, 59, 0.137);
    display: flex;
    border: 3px solid rgb(248, 173, 59); 
    transition: all 2s;
}
.cardProduct:hover{
    background-color: rgba(248, 172, 59, 0.637);
}

.imgContent {
    border-radius: 5px;
    border: 2px solid rgb(248, 172, 59);
    box-shadow: 0px 4px 19px 7px rgba(0, 0, 0, 0.45);
    margin-top: 1%;
    margin-left: 2%;
    width: 28%;
    height: 90%;    
    background-color: #1b1b1b;    
}
.img {
    width: 100%;
    height: 100%;
}
/* ==== */
.contentTitle {
    width: 65%;
    height: 83%;
    margin-top: 2%;
    margin-left: 2%;    
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
}
.buttonCard {
    width: 40%;
    height: 4vh;
    border-radius: 5px;           
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: #ffffffea;
    font-size: 14px;
    transition: all 0.5s;
}
.buttonCard:hover{
    background-color: #050505;
    color: #f5a717ea;
    box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.61);
}
.buttonTitle {
    background-color: #242424;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
@media (max-width: 900px) {      
    .buttonCard{
        width: 70%;
        height: 4vh;
    }       
  } 

@media (max-width: 650px) {   
    .flex{
        flex-direction: column;
        height: 100%
    }
    .flexForms{
        flex: 1 1 5 00px;
    }
    .blockProduct{
        width: 100%;
    }
    .buttonCard{
        width: 80%;
    height: 4vh;
    }
    .buttonTitle{
        font-size: 10px;
    }
    
  } 