.flex {
    display: flex;
    height: 85vh;   
}
.flexForms {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;   
    overflow: hidden;  
   }

.blockProduct {
    width: 60%;
    height: 80vh;
    margin-top: 0.9%;
    overflow: auto;
    z-index: 5;     
}
.blockProduct::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #242424;
}
.blockProduct::-webkit-scrollbar-thumb {
    background-color: #707070;
    border-radius: 5px;
}
.cardProduct {
    margin-left: 8%;
    border-radius: 5px;
    margin-bottom: 1%;
    width: 85%;
    height: 18.9vh;
    background-color: #e9e9e9;
    display: flex;
    
}

.imgContent {
    border-radius: 5px;
    border: 6px solid rgb(0, 0, 0);
    margin-top: 1%;
    margin-left: 2%;
    width: 28%;
    height: 90%;
    background-color: #363636;
}
.img {
    width: 100%;
    height: 100%;
}
/* ==== */
.contentTitle {
    width: 65%;
    height: 83%;
    margin-top: 2%;
    margin-left: 2%;    
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buttonCard {
    width: 40%;
    height: 3vh;
    border-radius: 5px;           
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: aliceblue;
    font-size: 14px;
}
.buttonTitle {
    background-color: #242424;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
@media (max-width: 900px) {      
    .buttonCard{
        width: 70%;
        height: 4vh;
    }       
  } 

@media (max-width: 650px) {   
    .flex{
        flex-direction: column;
        height: 100%
    }
    .flexForms{
        flex: 1 1 5 00px;
    }
    .blockProduct{
        width: 100%;
    }
    .buttonCard{
        width: 80%;
    height: 4vh;
    }
    .buttonTitle{
        font-size: 10px;
    }
    
  } 