.flex {
    display: flex;
    height: 84vh;   
    overflow: hidden;    
    justify-content: space-between;
    align-items: center;        
}
.flexForms {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    flex-direction: column;     
    overflow: hidden;         
   }

.blockProduct {
    width: 60%;
    height: 99%;  
    margin-top: 0.5%; 
    overflow: auto;
    z-index: 5;       
}
.blockProduct::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #131313;
}
.blockProduct::-webkit-scrollbar-thumb {
    background-color:  rgba(245, 189, 67, 0.966);
    border-radius: 5px;
}
@media (max-width: 900px) {      
    .buttonCard{
        width: 70%;
        height: 4vh;
    }       
  } 

@media (max-width: 650px) {   
    .flex{
        flex-direction: column;
        height: 100%;              
    }
    .flexForms{
        width: 90%;
        flex: 1 1 500px;  
        /* border: 3px solid rgba(241, 39, 13, 0.863);               */
    }
    .blockProduct{
        width: 90%;   
        /* border: 3px solid rgba(241, 39, 13, 0.863);       */
    }
    .buttonCard{
        width: 80%;
    height: 4vh;
    }
    .buttonTitle{
        font-size: 10px;
    }
    
  } 