.header {
    width: 100%;
    color: aliceblue;
    background-color: #000000;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 2s;
}
.headerActive{
    width: 100%;
    color: aliceblue;
    background-color: #000000;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 1s;
}
.button{
    width: 10%;
    height: 30%;    
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.685); 
    color: rgb(247, 247, 247);
    overflow: hidden;
    border-radius: 5px;    
    font-weight: bold;
    transition: all 1s;
    cursor: pointer;
    font-size: 16px;      
}
.buttonActive{
    width: 50%;
    height: 30%;      
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.685); 
    color: rgb(247, 247, 247);
    overflow: hidden;
    border-radius: 5px;    
    font-weight: bold;
    transition: all 1s;
    cursor: pointer;
    font-size: 16px;      
    margin-bottom: 2%;
}
.buttonActive:hover{
    background-color: #000000ce;
    color: rgb(252, 166, 36);   
    border-radius: 5px ;
    border: 3px solid rgb(252, 166, 36);
}
.buttonMenu{
    display: none;    
}
.buttonMenuActive{
    display:flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    height: 80%;
    width: 8%;
    border-top: 3px solid rgb(245, 245, 245);
    border-bottom: 3px solid rgb(255, 255, 255);  
    cursor: pointer;
    margin-bottom: 2%;
    margin-top: 2%;
}
.button:hover{
    background-color: #000000ce;
    color: rgb(252, 166, 36);   
    border-radius: 5px ;
    border: 3px solid rgb(252, 166, 36);   
}
.h2{    
    margin-top: 1%;
}
@media (max-width: 800px) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }    
    .button{
        display: none;
    }
    .buttonMenu{
        display:flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;
        height: 80%;
        width: 8%;
        border-top: 3px solid rgb(245, 245, 245);
        border-bottom: 3px solid rgb(255, 255, 255);  
        cursor: pointer;
    }    
  } 
  @media (max-width: 800px) {    
    .buttonMenu{              
        width: 15%;        
    }    
  } 


