.header {
    width: 100%;
    color: aliceblue;
    background-color: #000000;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 3s;
}
.headerChange{
    width: 100%;
    color: aliceblue;
    background-color: #313131;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 3s;
}
.button{
    width: 10%;
    height: 30%;    
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.685); 
    color: rgb(247, 247, 247);
    overflow: hidden;
    border-radius: 5px;    
    font-weight: bold;
    transition: all 1s;
    cursor: pointer;
    font-size: 16px;   
}
.button:hover{
    background-color: #000000ce;
    color: rgb(252, 166, 36);   ;
    border-radius: 5px ;
    border: 3px solid rgb(252, 166, 36);   ;
}
.h2{
    margin-top: 3%;
}
@media (max-width: 800px) {
    .button{       
        text-align: center;
        height: 50%;  
    }
  } 


