.wrapperPage{
    min-height: 100vh;
    overflow: hidden;
    display: flex;   
    flex-direction: column;     
}

.mainPage{
    flex: 1 1 auto;
    background: #3D3D3D;
}

.imgBackClass{    
    width: 75%;
    height: 125%;
    position: fixed;
    top: -11%;
    left: 34%;
    
}