.wrapperForm{
    width: 50%;    
    margin: 0 auto;
    margin-top: 5%;   
}
.flex{
    display: flex;
    flex-direction: column;    
}
.button{
    display: block;    
    margin: 0 auto;
    overflow: hidden;      
    border-radius: 5px;
    width: 30%;
    height: 3vh;
    font-weight: bold;
    background-color: rgb(189, 187, 187);    
    margin-top: 5%;  
    transition: all 1s;  
}

.button:hover{
    color: aliceblue;
    background-color: rgb(7, 7, 7);
}