.dFlex{
    display: flex;
}
.textCentr{
    text-align: center;
    margin-top: 2%;    
}
/* ============= */
.blockName{
    width: 90%;
    height: 10vh;
    background-color: #F9F9F9;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 3%;  
    overflow: hidden;      
}
.blockPrice{
    width: 90%;
    height: 20vh;
    background-color: #F9F9F9;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 3%;      
    overflow: hidden;  
}
/* ============= */

/* ============= */
.label{
    margin-top: 3%;
    text-align: center;
}
.inputDivName{
    height: 3.5vh;
}
.inputName{    
    font-size: 18px;
    height: 100%;
    margin-left: 14.5%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 5px;
    background-color: #9C9C9C;
    text-align: center;
    cursor: pointer; 
}
.inputName:focus{
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.72);
}
/* ============= */

/* ============= */
.inputPrice{    
    font-size: 18px;
    height: 100%;
    margin-left: 5.5%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 5px;
    background-color: #9C9C9C;
    text-align: center;
    cursor: pointer; 
}
.inputPrice:focus{
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.72);
}
.blockInputPrice{
    display: flex;    
    margin-top: 4%;
    height: 3.5vh;
}
.p{
    font-weight: bold;
    margin-left: 5%;
    margin-top: 4%;
}
/* ============= */

.blockFirm{
    width: 90%;
    height: 45vh;
    background-color: #F9F9F9;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 3%;  
    overflow: hidden;
}
.wrapperButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
    height: 36vh;    
}
.brendButton{
    flex: 0 1 auto;
    height: 10%;
    text-align: center;
    background-color: #9E9E9E;    
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    transition: all 1s;    
    cursor: pointer; 
}
.brendButton:hover{
    background-color: #6e6e6e;
}
