.blockName{
    width: 30%;
    height: 10vh;
    background-color: #F9F9F9;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 3%;  
    overflow: hidden;  
}
.label{
    margin-top: 3%;
    text-align: center;
}
.inputDivName{
    height: 3.5vh;
}
.inputName{    
    font-size: 18px;
    height: 100%;
    margin-left: 14.5%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 5px;
    background-color: #9C9C9C;
}