.footer {
    width: 100%;
    color: aliceblue;
    background: #121212;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrap {
    height: 100%;
}
.flex {
    align-items: center;
    display: flex;
    height: 100%;
}
.img {
    height: 80%;
    width: 80%;
}
.imgLogo {
    height: 80%;
    width: 80%;
}
