.flex{
    display: flex;    
    position: sticky;
    /* overflow: hidden; */
    justify-content: space-between;    
}
.blockImg{
    margin-top: 3%;
    margin-left: 3%;
    width: 40%;
    height: 65vh;
    /* border: 2px solid rgb(173, 30, 30); */
}
.blockInfo{
    margin-top: 3%;
    margin-left: 3%;
    width: 55%;
    height: 65vh;
    overflow:auto;
    /* border: 2px solid rgb(173, 30, 30);  */
}
.blockInfo::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #242424;
}
.blockInfo::-webkit-scrollbar-thumb {
    background-color: #707070;
    border-radius: 5px;
}
.mainImg{
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 50vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexImage{
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    width: 80%;
}
.divImage{
    flex: 1 1 auto;
    margin: 3% 1% 0% 1%;
    height: 12vh;
    width: 30%;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    transition: all 0.5s;    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.divImageActive{
    flex: 1 1 auto;
    margin: 3% 1% 0% 1%;
    height: 12vh;
    width: 30%;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    border: 5px solid rgb(161, 161, 161);
    transition: all 0.5s;    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 100%;
    height: 90%;
}
/* ================= */
/* Block info Product */
.basket{
    display: block;
    width: 14%;
    margin-right: 4%;
    height: 4vh;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(196, 196, 196);    
    border-radius: 3px;
}
.infoBlockDiv{
    width: 100%;    
}
.h1{    
    color: aliceblue;
    font-size: 20px;
}
.h2{
    margin-top: 6%;
    color: aliceblue;
    font-size: 20px;
}
.hSize{
    margin-bottom: 1%;
    color: aliceblue;
    font-size: 20px;
}
.hActivSize{
    font-size: 16px;
    text-align: center;
}
.blockSizesFlex{    
    display: flex;
    align-items: flex-end;  
    margin-top: 5%;    
}
.boxSizes{    
    display: flex;    
    width: 100%;      
    margin-left: 5%; 

}
.buttonSize{    
    text-align: center;     
    margin-left: 4%;
    height: 4vh;
    width: 80%;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    transition: all 1s;
}
.buttonSize:hover{
    background-color: rgb(204, 204, 204);
    color: black;
}
/* ==== */
.boxBay{
    width: 100%;
    height: 10vh;
    margin-top: 14%;    
    display: flex;
    justify-content: space-around;    
}
.buttonBay{    
    height: 100%;
    width: 50%;
    display: block;
    background-color: rgb(34, 34, 34);
    color: rgb(51, 51, 51);
    border-radius: 15px;
    margin-left: 3% ;    
    transition: all 1s; 
    font-size: 16px;
}
.buttonBayActiv{    
    height: 100%;
    width: 50%;
    display: block;
    background: #C2C2C2;
    color: rgb(15, 15, 15);
    border-radius: 15px;
    margin-left: 3% ;   
    transition: all 1s; 
    font-size: 16px;
}

.boxSizeValue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    background: #C2C2C2;
    box-shadow: 0px 4px 15px 2px rgba(240, 240, 240, 0.4);
    border-radius: 7px;    
}